.panel.panel-secondary.panel-exchange-rate-settings( data-state=(order.isNew() ? 'editing' : '') )
  .panel-header.clearfix
    .panel-title.pull-left STEP 1. 訂單匯率
    .pull-right
      ol.item-actions.action-list
        li: a#edit-exchange-rate.item-action.edit-item( href="#" ) 修改
  .panel-content
    .exchange-rate-settings
      .exchange-rate-editing
        .row
          .col-md-12
            form#form-set-exchange-rate
              .form-group
                label( for="currency-source" ) 選擇貨幣 *
                .select-control
                  select.form-control( id="currency-source" name="currency-source")
                    - var pick = ['TWD', 'USD', 'JPY', 'KRW', 'CNY', 'EUR', 'GBP', 'CAD']
                    each v, k in _.pick(currencies, pick)
                      option( value=k ) #{v.cname} (#{k})
                    each v, k in _.omit(currencies, pick)
                      option( value=k ) #{v.cname} (#{k})

              .form-group.form-group-exchange-rate.hidden
                label( for="exchange-rate" ) 對台幣匯率 *
                input.form-control( id="exchange-rate" name="exchange-rate" type="number" min="0.01" step="0.01" value="1" placeholder="填入數字，如：31.50" required )
                p#exchange-rate-settings-message.help-block

              button#set-exchange-rate.btn.btn-secondary.btn-tiny( type="submit" ) 繼續下一步

      .exchange-rate-results
        .exchange-rate-results-item
          | 貨幣：
          span.currency-source= order.get('currency_source')
        .exchange-rate-results-item
          | 對台幣匯率：
          span.exchange-rate= order.get('exchange_rate')
