- var images = item.related().product.get('images') || []

.order-line-item.product-item
  .order-line-item-form
    .order-line-item-form-header.clearfix
      h3.pull-left 新增商品
      .pull-right: a.remove-item 移除
    #form-image-upload.hidden( data-file-input-id="image-upload-#{uid}" )
    .row
      .col-md-12
        form.form-order-line-item
          .form-group
            label( for="title-#{uid}" ) 商品名稱*
            input.form-control( id="title-#{uid}" name="title" value=item.related().product.get('title') type="text" placeholder="商品名稱" required autofocus )
          .form-group
            label( for="brand-#{uid}" ) 品牌
            input.form-control( id="brand-#{uid}" name="brand" value=item.related().product.get('brand') type="text" placeholder="商品品牌" )
          .form-group
            label( for="url-#{uid}" ) 參考網址
            - var urls = item.related().product.get('urls') || []
            input.form-control( id="url-#{uid}" name="url" value=urls[0] type="url" placeholder="參考網址" )
          .form-group
            label 上傳圖片
            .file-upload-control
              label.form-control.file-upload-label( for="image-upload-#{uid}" )
              input#image( name="image" type="hidden" )
            .image-upload-preview
              include ./item_images
          .form-group
            label( for="color-#{uid}" ) 顏色
            input.form-control( id="color-#{uid}" name="color" value=item.related().product.get('color') type="text" placeholder="顏色" )
          .form-group
            label( for="size-#{uid}" ) 尺寸
            input.form-control( id="size-#{uid}" name="size" value=item.related().product.get('size') type="text" placeholder="尺寸" )
          .form-group
            label( for="quantity-#{uid}" ) 數量*
            input.form-control.quantity-field( id="quantity-#{uid}" name="quantity" value="#{item.get('quantity') || 1}" type="text" placeholder="數量" required )
            p.help-block.quantity-help
          .form-group
            // NOTE we have to somehow persist the selected input currency,
            // so we can edit with the same currency later.
            label( for="currency-source" ) 金額幣別*
            .radio-inline
              input( type="radio" id="currency-twd-#{uid}" name="currency-source" value="TWD" checked=(currencySource == 'TWD') )
              label( for="currency-twd-#{uid}" ) 台幣
            if currencySource != 'TWD'
              .radio-inline
                input( type="radio" id="currency-foreign-#{uid}" name="currency-source" value=currencySource checked )
                label( for="currency-foreign-#{uid}" ) #{currencySource}
          .form-group
            label( for="price-#{uid}" ) 商品單價*
            input.form-control( id="price-#{uid}" name="price" value="#{item.get('price') / exchangeRate}" type="text" placeholder="商品金額" required )
            p.help-block.subtotal-message
          .form-group
            label( for="description-#{uid}" ) 商品說明
            textarea.form-control( id="description-#{uid}" name="description" row="3" placeholder="商品說明" )
              = item.related().product.get('description')
          .form-group
            .checkbox
              input( id="add-to-product-list-#{uid}" name="add-to-proudct-list" type="checkbox")
              label( for="add-to-product-list-#{uid}" ) 加入商品清單
          button.cancel-saving-item.btn.btn-secondary.btn-tiny( type="button" ) 取消
          button.save-item.btn.btn-secondary.btn-tiny( type="submit" ) 確定

  .order-line-item-preview
    .row
      .col-md-5
        .item-image
          include ./item_images
      .col-md-7
        .item-brand= item.related().product.get('brand')
        .item-title= item.related().product.get('title')
        .item-color= item.related().product.get('color')
        .item-size= item.related().product.get('size')
        .item-price= item.get('price')
        .item-quantity= item.get('quantity')
      .col-md-7
        .item-actions
          a.item-action.edit-item 編輯
          a.item-action.remove-item 刪除
      .col-md-5.text-right
        .item-subtotal= item.get('price') * item.get('quantity')
