if type == 'product'
  .panel.panel-default
    .panel-heading.clearfix
      h3.panel-title.pull-left 商品 #{id}
      .pull-right
        a.remove-item( href="#") 移除
    .panel-body
      input.form-control( id="type-#{id}", name="type#{id}" type="hidden" value="product")
      .form-group
        label.col-md-2.control-label( for="title-#{id}" ) 商品名稱*
        .col-md-10
          input.form-control( id="title-#{id}", name="title_#{id}" type="text" placeholder="商品名稱" requred="required" autofacus )
      .form-group
        label.col-md-2.control-label( for="url-#{id}" ) 參考網址
        .col-md-10
          input.form-control( id="url-#{id}", name="urls_#{id}[]" type="text" placeholder="參考網址" )
      .form-group
        label.col-md-2.control-label( for="images-#{id}" ) 參考圖片
        .col-md-10
          input.form-control( id="images-#{id}", name="images_#{id}[]" type="text" placeholder="參考圖片" )
      .form-group
        label.col-md-2.control-label( for="color-size-#{id}" ) 顏色/尺寸
        .col-md-10
          input.form-control( id="color-size-#{id}", name="color_size_#{id}" type="text" placeholder="顏色/尺寸" )
      .form-group
        label.col-md-2.control-label( for="quantity-#{id}" ) 數量*
        .col-md-10
          input.form-control( id="quantity-#{id}", name="quantity_#{id}" type="number" value="1" placeholder="數量" requred="required" )
      .form-group
        label.col-md-2.control-label( for="currency-source-#{id}" ) 金額幣別*
        .col-md-10
          label.radio-inline
            input.currency-source-field( type="radio" name="currency_source_#{id}" id="currency-source-#{id}" value="TWD" checked)
            | 台幣
          label.radio-inline
            input.currency-source-field( type="radio" name="currency_source_#{id}" id="currency-source-#{id}" value="#{currencySource}" )
            | #{currencySource}
      .form-group
        label.col-md-2.control-label( for="price-#{id}" ) 商品金額*
        .col-md-10
          input.form-control.price-field( id="price-#{id}", name="price_#{id}" type="text" placeholder="商品金額" requred="required" )
          p.help-block.price-help
      .form-group
        label.col-md-2.control-label( for="notes-#{id}" ) 商品說明
        .col-md-10
          textarea.form-control( id="notes-#{id}", name="notes_#{id}" type="text" placeholder="商品說明" )
else if type == 'commission'
  .panel.panel-default
    .panel-heading.clearfix
      h3.panel-title.pull-left 手續費 #{id}
      .pull-right
        a.remove-item( href="#") 移除
    .panel-body
      input.form-control( id="type-#{id}", name="type#{id}" type="hidden" value="commission")
      .form-group
        label.col-md-2.control-label( for="currency-source-#{id}" ) 金額幣別*
        .col-md-10
          label.radio-inline
            input.currency-source-field( type="radio" name="currency_source_#{id}" id="currency-source-#{id}" value="TWD" checked)
            | 台幣
          label.radio-inline
            input.currency-source-field( type="radio" name="currency_source_#{id}" id="currency-source-#{id}" value="#{currencySource}" )
            | #{currencySource}
      .form-group
        label.col-md-2.control-label( for="price-#{id}" ) 金額*
        .col-md-10
          input.form-control.price-field( id="price-#{id}", name="price_#{id}" type="text" placeholder="商品金額" requred="required" )
          p.help-block.price-help
      .form-group
        label.col-md-2.control-label( for="notes-#{id}" ) 說明
        .col-md-10
          textarea.form-control( id="notes-#{id}", name="notes_#{id}" type="text" placeholder="商品說明" )
else if type == 'shipping'
  .panel.panel-default
    .panel-heading.clearfix
      h3.panel-title.pull-left 運費 #{id}
      .pull-right
        a.remove-item( href="#") 移除
    .panel-body
      input.form-control( id="type-#{id}", name="type#{id}" type="hidden" value="commission")
      .form-group
        label.col-md-2.control-label( for="currency-source-#{id}" ) 金額幣別*
        .col-md-10
          label.radio-inline
            input.currency-source-field( type="radio" name="currency_source_#{id}" id="currency-source-#{id}" value="TWD" checked)
            | 台幣
          label.radio-inline
            input.currency-source-field( type="radio" name="currency_source_#{id}" id="currency-source-#{id}" value="#{currencySource}" )
            | #{currencySource}
      .form-group
        label.col-md-2.control-label( for="price-#{id}" ) 金額*
        .col-md-10
          input.form-control.price-field( id="price-#{id}", name="price_#{id}" type="text" placeholder="商品金額" requred="required" )
          p.help-block.price-help
      .form-group
        label.col-md-2.control-label( for="notes-#{id}" ) 說明
        .col-md-10
          textarea.form-control( id="notes-#{id}", name="notes_#{id}" type="text" placeholder="商品說明" )