if type == 'product'
  .order-line-item
    .order-line-item-form
      .order-line-item-form-header.clearfix
        h3.pull-left 新增商品
        .pull-right
          a.remove-item( href="#") 移除
      .order-line-item-form-body
        input.form-control( id="type-#{id}" name="type#{id}" type="hidden" value="product")
        .form-group
          label( for="brand-#{id}" ) 品牌
          .row
            .col-md-12
              input.form-control( id="brand-#{id}" name="brand_#{id}" type="text" placeholder="商品品牌" autofacus )
        .form-group
          label( for="title-#{id}" ) 商品名稱*
          .row
            .col-md-12
              input.form-control( id="title-#{id}" name="title_#{id}" type="text" placeholder="商品名稱" requred="required" )
        .form-group
          label( for="url-#{id}" ) 參考網址
          .row
            .col-md-12
              input.form-control( id="url-#{id}" name="urls_#{id}" type="text" placeholder="參考網址" )
        .form-group
          label( for="images-#{id}" ) 參考圖片
          .row
            .col-md-12
              input.form-control( id="images-#{id}", name="images_#{id}" type="text" placeholder="參考圖片" )
        .form-group
          label( for="color-size-#{id}" ) 顏色/尺寸
          .row
            .col-md-12
              input.form-control( id="color-size-#{id}", name="color_size_#{id}" type="text" placeholder="顏色/尺寸" )
        .form-group
          label( for="quantity-#{id}" ) 數量*
          .row
            .col-md-12
              input.form-control( id="quantity-#{id}", name="quantity_#{id}" type="text" value="1" placeholder="數量" requred="required" )
        .form-group
          label( for="currency-source-#{id}" ) 金額幣別*
          .row
            .col-md-12
              label.radio-inline
                input.currency-field.currency-twd-field( type="radio" name="currency_source_#{id}" id="currency-twd-#{id}" value="TWD" checked)
                | 台幣
              label.radio-inline
                input.currency-field.currency-source-field( type="radio" name="currency_source_#{id}" id="currency-source-#{id}" value="#{currencySource}" )
                span.currency-source-text #{currencySource}
        .form-group
          label( for="price-#{id}" ) 商品金額*
          .row
            .col-md-12
              input.form-control.price-field( id="price-#{id}" name="price_#{id}" type="text" placeholder="商品金額" requred="required" )
              p.help-block.price-help
        .form-group
          label( for="notes-#{id}" ) 商品說明
          .row
            .col-md-12
              textarea.form-control( id="notes-#{id}" name="notes_#{id}" type="text" placeholder="商品說明" )
        .form-group
          .row
            .col-md-12
              .checkbox
                label
                  input( id="add-product-#{id}" name="add_product_#{id}" type="checkbox")
                  | 加入商品清單  
        button.save-btn.btn.btn-secondary.btn-tiny( type="button" ) 確定
      
    .order-line-item-preview
      .row
        .col-md-5
        .col-md-8
          .preview-brand
          .preview-title
          .preview-color-size
          div #12345
          div 數量：
            span.preview-quantity
          div 單價：
            span.preview-price
        .col-md-5
          a.remove-item( href="#") 刪除 
          | | 
          a.edit-btn( href="#" ) 編輯
        .col-md-6.text-right
          .preview-price

else if type == 'commission'
  .order-line-item
    .order-line-item-form
      .order-line-item-form-header.clearfix
        h3.pull-left 新增代買費
        .pull-right
          a.remove-item( href="#") 移除
      .order-line-item-form-body
        input.form-control( id="type-#{id}" name="type#{id}" type="hidden" value="commission")
        .form-group
          label( for="currency-source-#{id}" ) 金額幣別*
          .row
            .col-md-12
              label.radio-inline
                input.currency-field.currency-twd-field( type="radio" name="currency_source_#{id}" id="currency-twd-#{id}" value="TWD" checked)
                | 台幣
              label.radio-inline
                input.currency-field.currency-source-field( type="radio" name="currency_source_#{id}" id="currency-source-#{id}" value="#{currencySource}" )
                span.currency-source-text #{currencySource}
        .form-group
          label( for="price-#{id}" ) 金額*
          .row
            .col-md-12
              input.form-control.price-field( id="price-#{id}" name="price_#{id}" type="text" placeholder="金額" requred="required" )
              p.help-block.price-help
        .form-group
          label( for="notes-#{id}" ) 說明
          .row
            .col-md-12
              textarea.form-control( id="notes-#{id}" name="notes_#{id}" type="text" placeholder="說明" )
        button.save-btn.btn.btn-secondary.btn-tiny( type="button" ) 確定
      
    .order-line-item-preview
      .row
        .col-md-5
        .col-md-8
          | 代買費
          br
          .preview-notes
          div #12345
        .col-md-5
          a.remove-item( href="#") 刪除 
          | | 
          a.edit-btn( href="#" ) 編輯
        .col-md-6.text-right
          .preview-price

else if type == 'shipping'
  .order-line-item
    .order-line-item-form
      .order-line-item-form-header.clearfix
        h3.pull-left 新增運費
        .pull-right
          a.remove-item( href="#") 移除
      .order-line-item-form-body
        input.form-control( id="type-#{id}" name="type#{id}" type="hidden" value="shipping")
        .form-group
          label( for="currency-source-#{id}" ) 金額幣別*
          .row
            .col-md-12
              label.radio-inline
                input.currency-field.currency-twd-field( type="radio" name="currency_source_#{id}" id="currency-twd-#{id}" value="TWD" checked)
                | 台幣
              label.radio-inline
                input.currency-field.currency-source-field( type="radio" name="currency_source_#{id}" id="currency-source-#{id}" value="#{currencySource}" )
                span.currency-source-text #{currencySource}
        .form-group
          label( for="price-#{id}" ) 金額*
          .row
            .col-md-12
              input.form-control.price-field( id="price-#{id}" name="price_#{id}" type="text" placeholder="金額" requred="required" )
              p.help-block.price-help
        .form-group
          label( for="notes-#{id}" ) 說明
          .row
            .col-md-12
              textarea.form-control( id="notes-#{id}" name="notes_#{id}" type="text" placeholder="說明" )
        button.save-btn.btn.btn-secondary.btn-tiny( type="button" ) 確定
      
    .order-line-item-preview
      .row
        .col-md-5
        .col-md-8
          | 代買費
          br
          .preview-notes
          div #12345
        .col-md-5
          a.remove-item( href="#") 刪除 
          | | 
          a.edit-btn( href="#" ) 編輯
        .col-md-6.text-right
          .preview-price