.order-line-item.product-item
  .order-line-item-form
    .order-line-item-form-header.clearfix
      h3.pull-left 新增商品
      .pull-right: a.remove-item 移除
    form.form-order-line-item
      .form-group
        label( for="title" ) 商品名稱*
        input#title.form-control( name="title" value="" type="text" placeholder="商品名稱" required autofocus )
      .form-group
        label( for="brand" ) 品牌
        input#brand.form-control( name="brand" value="" type="text" placeholder="商品品牌" )
      .form-group
        label( for="url" ) 參考網址
        input#url.form-control( name="url" value="" type="text" placeholder="參考網址" )
      .form-group
        label( for="images" ) 參考圖片網址
        input#images.form-control( name="images" value="" type="text" placeholder="參考圖片" )
      .form-group
        label( for="color-size" ) 顏色/尺寸
        input#color-size.form-control( name="color-size" value="" type="text" placeholder="顏色/尺寸" )
      .form-group
        label( for="quantity" ) 數量*
        input#quantity.form-control.quantity-field( name="quantity" value="#{item.get('quantity') || 1}" type="text" placeholder="數量" required )
        p.help-block.quantity-help
      .form-group
        // NOTE we have to somehow persist the selected input currency,
        // so we can edit with the same currency later.
        label( for="currency-source" ) 金額幣別*
        label.radio-inline
          input( type="radio" name="currency-source" value="TWD" checked="#{currencySource == 'TWD'}" )
          | 台幣
        if currencySource != 'TWD'
          label.radio-inline
            input( type="radio" name="currency-source" value="#{currencySource}" checked )
            | #{currencySource}
      .form-group
        label( for="price" ) 商品單價*
        input#price.form-control( name="price" value="#{item.get('price') / exchangeRate}" type="text" placeholder="商品金額" required )
        p.help-block.subtotal-message
      .form-group
        label( for="notes" ) 商品說明
        textarea#notes.form-control( name="notes" value="#{item.get('notes')}" row="3" placeholder="商品說明" )
      .form-group
        .checkbox
          label
            input#add-to-product-list( name="add-to-proudct-list" type="checkbox")
            | 加入商品清單
      button.save-item.btn.btn-secondary.btn-tiny( type="submit" ) 確定

  .order-line-item-preview
    .row
      .col-md-5
        .item-image
      .col-md-7
        .item-brand
        .item-title
        .item-color-size
        .item-price= item.get('price')
        .item-quantity= item.get('quantity')
      .col-md-7
        .item-actions
          a.item-action.edit-item 編輯
          a.item-action.remove-item 刪除
      .col-md-5.text-right
        .item-subtotal= item.get('price') * item.get('quantity')
