.order-line-item
  .order-line-item-form
    .order-line-item-form-header.clearfix
      h3.pull-left 新增運費
      .pull-right
        a.remove-item( href="#") 移除
    .order-line-item-form-body
      input.form-control( id="type-#{id}" name="type#{id}" type="hidden" value="shipping")
      .form-group
        label( for="currency-source-#{id}" ) 金額幣別*
        .row
          .col-md-12
            label.radio-inline
              input.currency-field.currency-twd-field( type="radio" name="currency_source_#{id}" id="currency-twd-#{id}" value="TWD" checked)
              | 台幣
            label.radio-inline
              input.currency-field.currency-source-field( type="radio" name="currency_source_#{id}" id="currency-source-#{id}" value="#{currencySource}" )
              span.currency-source-text #{currencySource}
      .form-group
        label( for="price-#{id}" ) 金額*
        .row
          .col-md-12
            input.form-control.price-field( id="price-#{id}" name="price_#{id}" type="text" placeholder="金額" requred="required" )
            p.help-block.price-help
      .form-group
        label( for="notes-#{id}" ) 說明
        .row
          .col-md-12
            textarea.form-control( id="notes-#{id}" name="notes_#{id}" type="text" placeholder="說明" )
      button.save-btn.btn.btn-secondary.btn-tiny( type="button" ) 確定

  .order-line-item-preview
    .row
      .col-md-5
      .col-md-8
        | 代買費
        br
        .preview-notes
        div #12345
      .col-md-5
        a.remove-item( href="#") 刪除
        | |
        a.edit-btn( href="#" ) 編輯
      .col-md-6.text-right
        .preview-price
